bin
obj
*.suo
*.user
_ReSharper.*
*.DS_Store
*.userprefs
*.pidb
*.vspx
*.psess
TestResults/*
TestResult.xml
nugetkey
packages
target
artifacts
StyleCop.Cache
node_modules
*.snk
.nuget/NuGet.exe
docs/build
.idea/config/applicationhost.config
.idea/.idea.Katana/.idea/vcs.xml
.idea/.idea.Katana/.idea/projectSettingsUpdater.xml
.idea/.idea.Katana/.idea/indexLayout.xml
.idea/.idea.Katana/.idea/.name
.idea/.idea.Katana/.idea/workspace.xml
.idea/.idea.Katana/.idea/modules.xml
.idea/.idea.Katana/riderModule.iml
.idea/.idea.Katana/.idea/contentModel.xml
